*{
    font-size: "Roboto", sans-serif;
    font-weight: 400px;
}

*{
    font-size: "Roboto", sans-serif;
    font-weight: 700px;
}

*{
    font-size: "Roboto", sans-serif;
    font-weight: 900px;
}

*{
    font-size: "Roboto", sans-serif;
    font-weight: 500px;
}